.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #7CA76D; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  .sidenav a {
    padding: 28px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
  }
  .sidenav img{
    width: 22px;
    padding-right: 10px;
  }
  .sidenav a:hover {
    color: #afeb9a;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding-left: 90px;
  }
  #main>h1{
    font-family: 'Anek Gurmukhi', sans-serif;
    color: #7CA76D  ;
    display: inline;
  }
  #menu{
    width: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
  }
 
 
